body{
	background-color:black;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
    background-size:100%;
}
a {
 text-decoration: none;
 outline: none; /* for Firefox */
 outline: medium none;
 color:red;
}
a, button {
    cursor: pointer;
}

.header {
	width:702px;
    height:921px;
	margin:880px auto 0 auto;
	background-image: url(../img/gift.png);
	background-repeat: no-repeat;
	position:relative;
}
.idvform{
	
	width:702px;
	height:40px;
	position:absolute;
	top:290px;
    left:35px;
	
}
.idvform input{
	display:inline-block;
	width:500px;
	height:40px;
	
}
.idvform button{
	background-color:#5a4638;
	border-style: none;
	margin-left:10px;
	height:40px;
	
}
.idvform button:hover{
	background-color:#8b6048;
	
}
.idvform form{
	margin-bottom:10px;
}
.notice_a{
	width:702px;
    height:636px;
	margin:56px auto 0 auto;
	background-image: url(../img/notic.png);
	background-repeat: no-repeat;
}


.footer{

margin:50px auto 0 auto;
width:750px;
height:200px;
display:block;
clear:both;

}
