@charset "utf-8";
/* CSS Document */
/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1;}

body{font-family: "微軟正黑體",  "Arial"; }

/*header*/
#header{ background:url(../image/primary/bg-header.png) repeat-x left top; }
#header .header-ins{ width:1100px; height:102px; margin:0 auto; /*border:#FF0 solid 2px;*/}
/*#header .header-logo { background:url(../image/header-logo.png) no-repeat; width:199px; height:102px; float:left;  margin-left:30px;}*/
#header .header-logo h1{position:absolute; text-indent:-9999px;}
#header .header-logo img{ width:100%; max-width:100%; }
#header .header-logo{ width:199px; height:102px; float:left; margin-left:30px; overflow:hidden; position:relative; float:left; z-index:99;  }
#header .nav ul li{ display:block; float:right; }
#header .nav ul li a{ display:block; background:url(../image/header/btn05-off.jpg)no-repeat; width:140px; height:102px; }
#header .nav ul li a:hover{ display:block; background:url(../image/header/btn05-on.png)no-repeat; position:relative; z-index:1; }
#header .nav ul li:nth-of-type(2) a{display:block; background:url(../image/header/btn04-off.jpg)no-repeat; z-index:1; margin-right:-20px;}
#header .nav ul li:nth-of-type(2) a:hover{display:block; background:url(../image/header/btn04-on.png) no-repeat; z-index:1; margin-right:-20px;}
#header .nav ul li:nth-of-type(3) a{display:block; background:url(../image/header/btn03-off.jpg) no-repeat; z-index:1; margin-right:-20px;}
#header .nav ul li:nth-of-type(3) a:hover{display:block; background:url(../image/header/btn03-on.png) no-repeat; z-index:1; margin-right:-20px;}
#header .nav ul li:nth-of-type(4) a{display:block; background:url(../image/header/btn02-off.jpg) no-repeat; z-index:1; margin-right:-20px;}
#header .nav ul li:nth-of-type(4) a:hover{display:block; background:url(../image/header/btn02-on.png) no-repeat; z-index:1; margin-right:-20px;}
#header .nav ul li:nth-of-type(5) a{display:block; background:url(../image/header/btn01-off.jpg) no-repeat; margin-right:-20px;}
#header .nav ul li:nth-of-type(5) a:hover{display:block; background:url(../image/header/btn01-on.png) no-repeat; z-index:1; margin-right:-20px;}


/*slider*/
.game-sliderout {display:block; background:#1f1f1f; height:auto; width:100%; }
.game-slider{display:block; height:auto; width:100%;/* border:#0F0 solid 5px;*/}

/*content*/
.content {display:block; background:url(../image/content/content_bg.jpg) no-repeat center top; height:556px; margin-top:-2.5%; /*border:#0F0 solid 5px;*/}
.content .content-inss{display:block; height:auto; width:100%; margin:0 auto; /*border:#FF0 solid 5px;*/}
.content .content-inss .content-logo {display:block; background:url(../image/content-logo.png) no-repeat center top; float:left;  margin-left:770px; width:341px; height:157px;  /*border:#FF0 solid 2px;*/}
.content .content-inss .btn{display:block; float:left; width:345px;  margin-top:10px; margin-left:760px; /*border:#FF0 solid 2px;*/}
.content .content-inss .btn ul li{ display:block; margin-right:10px; float:left; }
.content .content-inss .btn ul li:nth-of-type(2n){ margin-right:0; float:right;}
.content .content-inss .btn ul li a{ display:block; background:url(../image/content/btn01.png) no-repeat left top; width:161px; height:64px; }
.content .content-inss .btn ul li:nth-of-type(2) a{ background:url(../image/content/btn04.png) no-repeat left top; width:169px; height:64px; float:right; }
.content .content-inss .btn ul li:nth-of-type(3){ width:161px;}
.content .content-inss .btn ul li:nth-of-type(3) a{ background:url(../image/content/btn02.png) no-repeat left top; width:161px; height:94px;  margin:10px 10px 10px 0; }
.content .content-inss .btn ul li:nth-of-type(4) a{ background:url(../image/content/btn05.png) no-repeat left top; width:169px; height:56px; margin-bottom:10px; }
.content .content-inss .btn ul li:nth-of-type(5) a{ background:url(../image/content/btn03.png) no-repeat left top; width:169px; height:87px; margin-right:0;   /*float:left;  margin:6px 30px 0 0; */ }
/*.content .content-inss .btn ul li:nth-of-type(6){ float:left;}*/
.content .content-inss .btn ul li:nth-of-type(6) a{ background:url(../image/content/btn06.png) no-repeat left top; width:161px; height:156px; margin:-50px 5px 0 0; }
.copyright {display:block; color:#666; font-size:10px; height:15px; width:345px; text-align:center; margin:0px auto;line-height:150px;/* border:#FF0 solid 2px;*/  }


/*footer*/
footer {
	display: block;
	background: url(../image/primary/bg-footer.png) repeat-x left top;
	width: 100%;
	height: 50px;
	text-align: center;
}
/*footer .footer-ins {display:inline-block; width:1100px; height:75px; }
footer .footer-ins p{display:inline; width:500px; height:55px; float:right; margin:16px -70px; color:#CCC; font-size:12px; }
footer .footer-ins p a{text-decoration:none; color:#CCC; letter-spacing: 1.5px;　}
footer .footer-ins p a:hover{ color:#F09; }
footer .footer-logo{display:inline; background:url(../image/primary/footer-logo.png); width:131px; height:50px; float:left; margin:5px auto; }*/







/*RWD*/

@media only screen and (min-width:1366px){


.game-slider{display:block; height:auto; width:100%;/* border:#0F0 solid 5px;*/}
.game-slider img{ width:100%;}




.content .content-inss .content-logo {width:300px; height:135px; float:right; margin-right:390px; margin-top:50px;

background-size: cover;
/* The url is relative to the document, not to the css file! */
/* Prefer absolute urls to avoid confusion. */
-ms-behavior: url(/backgroundsize.min.htc);
 }
.content .content-inss .btn{display:block; float:right; width:245px;  margin-top:15px; margin-right:420px; }
.content .content-inss .btn ul li a{width:130px; height:50px; margin-right:150px; background-size:95%;background-size: cover;
/* The url is relative to the document, not to the css file! */
/* Prefer absolute urls to avoid confusion. */
-ms-behavior: url(/backgroundsize.min.htc);}
.content .content-inss .btn ul li:nth-of-type(2) a{width:130px; height:50px; margin-top:-50px; margin-right:-15px; background-size:95%;}
.content .content-inss .btn ul li:nth-of-type(3) a{width:130px; height:75px; margin-right:150px; background-size:95%;}
.content .content-inss .btn ul li:nth-of-type(4) a{width:130px; height:50px; margin-top:-95px; margin-right:-15px; background-size:95%;}
.content .content-inss .btn ul li:nth-of-type(5) a{width:130px; height:75px; margin-right:150px; background-size:95%;}
.content .content-inss .btn ul li:nth-of-type(6) a{width:130px; height:130px; margin-top:-120px; margin-right:-15px; background-size:95%;}

.copyright {line-height:180px;}

#header .nav{display:block;}
.slicknav_menu, #menu{ display:none;}

}
@media only screen and (max-width:1365px){
#header .nav{display:block;}
.slicknav_menu, #menu{ display:none;}

.content .content-inss .content-logo { margin-top:25px;}
.copyright {line-height:90px;}
}

@media only screen and (max-width:1108px){ 
/*header*/
#header .header-ins{ width:90%; }

.content .content-inss .content-logo{ margin-left:620px;  margin-top:15px;}
.content .content-inss .btn{margin-left:620px; }
.content {background:url(../image/content/content_bg2.jpg) no-repeat center top; margin-top:-4%;/*margin-top:-120px;   border:#0F0 solid 5px;*/}

.copyright {line-height:85px;}

footer .footer-ins {width:80%}

#header .nav{display:block;}
.slicknav_menu, #menu{ display:none;}
}

@media only screen and (max-width:985px){ 
/*header*/
#header .header-ins{ width:100%; height:100%;}
#header .header-logo {width:150px; height:80px; background-size:95%; }
img{width:100%; height:auto;}/*slider 圖片設定縮小*/
.content {background:url(../image/content/content_bg2.jpg) no-repeat center top;
margin-top:-7%;/*margin-top:-120px;   border:#0F0 solid 5px;*/}




#header .nav ul li a {width:130px; height:80px; margin-right:20px; background-size:90% ; }
#header .nav ul li a:hover{ margin-right:20px; background-size:90% ; }
#header .nav ul li:nth-of-type(2) a{ margin-right:-25px; background-size:90%;}
#header .nav ul li:nth-of-type(2) a:hover{ margin-right:-25px; background-size:90%;}
#header .nav ul li:nth-of-type(3) a{ margin-right:-25px; background-size:90%;}
#header .nav ul li:nth-of-type(3) a:hover{margin-right:-25px; background-size:90%;}
#header .nav ul li:nth-of-type(4) a{ margin-right:-25px; background-size:90%;}
#header .nav ul li:nth-of-type(4) a:hover{ margin-right:-25px; background-size:90%;}
#header .nav ul li:nth-of-type(5) a{ margin-right:-25px; background-size:90%;}
#header .nav ul li:nth-of-type(5) a:hover{ margin-right:-25px; background-size:90%;}




.content .content-inss .content-logo {width:300px; height:120px; margin-left:545px; margin-top:35px;background-size:80%;}
.content .content-inss .btn{display:block; float:left; width:245px;  margin-top:5px; margin-left:570px; }
.content .content-inss .btn ul li a{width:130px; height:50px; margin-right:150px; background-size:95%;}
.content .content-inss .btn ul li:nth-of-type(2) a{width:130px; height:50px; margin-top:-50px; margin-right:-15px; background-size:95%;}

.content .content-inss .btn ul li:nth-of-type(3) a{width:130px; height:75px; margin-right:150px; background-size:95%;}
.content .content-inss .btn ul li:nth-of-type(4) a{width:130px; height:50px; margin-top:-95px; margin-right:-15px; background-size:95%;}
.content .content-inss .btn ul li:nth-of-type(5) a{width:130px; height:75px; margin-right:150px; background-size:95%;}
.content .content-inss .btn ul li:nth-of-type(6) a{width:130px; height:130px; margin-top:-120px; margin-right:-15px; background-size:95%;}
.copyright {line-height:250px;}


#header .nav{display:block;}
.slicknav_menu, #menu{ display:none;}
}

@media only screen and (max-width:895px){ 
.content .content-inss .content-logo{margin-left:410px;}
.content .content-inss .btn{margin-left:430px; }
.content {background:url(../image/content/content_bg3.jpg) no-repeat center top; 
margin-top:-7%;/*margin-top:-120px;   border:#0F0 solid 5px;*/}

#header .nav{display:block;}
.slicknav_menu, #menu{ display:none;}
}
@media only screen and (max-width:794px){ 

.content {background:url(../image/content/content_bg4.jpg) no-repeat center top; }
.content .content-inss .content-logo {width:230px; height:90px; margin-left:360px; background-size:90%;}
.content .content-inss .btn{display:block; float:left; width:245px;  margin-top:5px; margin-left:410px; }
.content .content-inss .btn ul li a{width:120px; height:50px;  margin-left:-60px; background-size:100%;}
.content .content-inss .btn ul li:nth-of-type(2) a{width:130px; height:60px; margin-top:-50px; margin-right:50px; background-size:100%;}
.content .content-inss .btn ul li:nth-of-type(3) a{width:120px; height:70px; margin-top:-5px; margin-left:-60px; background-size:100%;}
.content .content-inss .btn ul li:nth-of-type(4) a{width:130px; height:60px; margin-top:-90px; margin-right:50px;background-size:100%;}
.content .content-inss .btn ul li:nth-of-type(5) a{width:130px; height:75px; margin-right:150px; background-size:95%;}
.content .content-inss .btn ul li:nth-of-type(6) a{width:130px; height:130px; margin-top:-120px; margin-right:50px;background-size:100%;}
.copyright {line-height:285px;}

#header .nav{display:none;}
.slicknav_menu, #menu{ display:block;}
}

@media only screen and (max-width:659px){ 
.content {background:url(../image/content/content_bg5.jpg) no-repeat center top;  }
.content .content-inss .content-logo {margin-left:260px;}
.content .content-inss .btn{margin-top:5px; margin-left:310px; }
/*footer .footer-ins p{display:inline; width:220px; height:55px; float:right; margin:16px -30px; color:#CCC; font-size:12px; line-height: 20px;}*/
.copyright {line-height:290px;}


@media only screen and (max-width:553px){ 


.content {background:url(../image/content/content_bg6.jpg) no-repeat center top; margin-top:-50px;}
.content .content-inss .content-logo {margin-top:40px; margin-left:100px;}
.content .content-inss .btn{margin-top:5px; margin-left:150px; }
.copyright {line-height:270px;}
}

@media only screen and (max-width:441px){ 


.content {background:url(../image/content/content_bg7.jpg) no-repeat center top;  margin-top:-50px;}
.content .content-inss .content-logo {margin-top:40px; margin-left:25px;}
.content .content-inss .btn{margin-top:5px; margin-left:95px; margin-top:5px; }
/*footer .footer-ins p{display:inline; width:125px; height:55px; float:right; margin:10px -10px; color:#CCC; font-size:12px; line-height: 20px;}
footer .footer-logo{display:inline; background:url(../image/primary/footer-logo.png) no-repeat; width:111px; height:40px; background-size:98%; float:left; margin:5px auto; }*/
.copyright {line-height:275px;}
}
