.vagrant/
Vagrantfile
puphpet/
vagrantVM.ppk
default/application/logs/
default/admin3/application/logs/
default/p/captcha/*
default/p/upload/*
/config.php
ci_system/global/config/*
!ci_system/global/config/template/
default/application/config/*
!default/application/config/template/
default/admin3/application/config/*
!default/admin3/application/config/template/
games/**
!games/_template/
default/p/deposit_count_graph
default/p/region_count_graph
