@charset "utf-8";
charset {}

Body {margin:0px; font-size:15px; font-family:"微軟正黑體"; background:url(/p/img/bk1.JPG) no-repeat center top #dfddd0;}
a , a:link , a:visited , a:active{ color:#a22; text-decoration:none;}
a:hover{color:#F90;}

#wrap{width:100%; background:url(/p/img/bk2.JPG) no-repeat center bottom;}
#main{ width:1200px; margin:0 auto; }
#foot{width:100%; background-color:#bcbcbc;}

#intop{width:1200px; height:350px;}
#incontent{width:1000px; height:695px; margin:0 auto; position:relative;}
#inleft{width:285px; height:695px; float:left;}
#inright{width:700px; float:right;}

#start{width:285px; height:155px;}
#l_00{width:285px; height:535px; background-image:url(/p/img/01_bk.png); background-position:center top; background-repeat:no-repeat;}
#l_01{width:285px; height:245px;}
#l_02{width:285px; height:135px;}
#l_03{width:285px; height:145px;}

#r_01{width:815px; height:560px; position:absolute;}
#r_02{width:702px; height:360px; position:absolute; top:320px;}
.r_01-1{width:453px; height:310px; position:absolute; top:0px; z-index:20;}
.r_01-2{ width:350px; height:560px; position:absolute; left:465px; z-index:10; top:-250px}
#banner_1{width:350px; height:385px;}
#banner_2{width:350px; height:175px;}

#page_tittle{ width:500px; height:25px; }
#page_tittle2{width:50px; height:25px; margin-left:10px;}
#page_tittle #page_tittle2 a { font-family: "微軟正黑體"; font-size: 16px; color: #C30; }

.text1 {font-family:Verdana, Geneva, sans-serif "微軟正黑體"; font-size:14px; color:#000;}
.text2 {font-family:Verdana, Geneva, sans-serif "微軟正黑體"; font-size:13px; color:#000; font-weight:bold;}
.text3 {font-family:Verdana, Geneva, sans-serif "微軟正黑體"; font-size:13px; color:#600;}
.text4 {font-family:Verdana, Geneva, sans-serif "微軟正黑體"; font-size:14px; color:#C30;}

#bulletin_content {}
#bulletin_content span {display:inline-block;}
#bulletin_content li {border-bottom:1px solid #500; padding:6px;}

.fixck {
    color:#333 !important;
}
