body {

	background-color: #000000;
	margin-left: 0px;	margin-top: 0px;	margin-right: 0px;	margin-bottom: 0px;
	font-size: 12px; font-family:"Arial,新細明體" color: #998675;	line-height:18px;
	 }	

	
img {border:0;}
table, tr, th, td, body { color:#998675; font-size: 15px; line-height: 22px; font-family:"Arial,新細明體" }


a:link{ color:#b6a291; text-decoration: underline; }
a:visited{ color:#b6a291; text-decoration: underline; }
a:hover{ color:#e9b485; text-decoration: underline; }


.form-1{  border:0px solid #63574d;  background-color:#0e0a0b; height:17px; margin:1px;  color:#ffffff; font-size: 12px;  font-family:"Arial"}
.form-2{ border: 0px;  color:#ffffff;  background-color:#430700; font-size: 14px; line-height: 18px;font-family:"Arial,新細明體"}



.font-size12 {  font-size: 12px; line-height: 17px; font-family:"Arial,新細明體"}
.font-size15 {  font-size: 15px; line-height: 22px; font-family:"Arial,新細明體"}

.text-white-size15 {  color:#ffffff; font-size: 15px; line-height: 22px; font-family:"Arial,新細明體"; }
.text-white-size15 a:link{ color:#ffffff; text-decoration: none; }
.text-white-size15 a:visited{ color:#ffffff; text-decoration: none; }
.text-white-size15 a:hover{ color:#ffffff; text-decoration: underline; }

.text-browen-size15 {  color:#998675; font-size: 13px; line-height: 22px; font-family:"Arial,新細明體"; }
.text-browen-size15 a:link{ color:#b6a291; text-decoration: none; }
.text-browen-size15 a:visited{ color:#b6a291; text-decoration: none; }
.text-browen-size15 a:hover{ color:#e9b485; text-decoration: underline; }

.text-green-size15 {  color:#b4b462; font-size: 15px; line-height: 22px; font-family:"Arial,新細明體"; }
.text-pink-size15 {  color:#db947e; font-size: 15px; line-height: 22px; font-family:"Arial,新細明體"; }
.text-blue-size15 {  color:#94b2c0; font-size: 15px; line-height: 22px; font-family:"Arial,新細明體"; }
.text-black-size15 {  color:#000000; font-size: 15px; line-height: 22px; font-family:"Arial,新細明體"; }

.text-green-size12 {  color:#b4b462; font-size: 12px; line-height: 22px; font-family:"Arial,新細明體"; }
.text-pink-size12 {  color:#db947e; font-size: 12px; line-height: 22px; font-family:"Arial,新細明體"; }
.text-blue-size12 {  color:#94b2c0; font-size: 12px; line-height: 22px; font-family:"Arial,新細明體"; }
.text-black-size12 {  color:#000000; font-size: 12px; line-height: 22px; font-family:"Arial,新細明體"; }

.back1 {
     background-image:url(http://dh.longeplay.com.tw/views/dh/img/index-game-img-011.jpg); 
     background-repeat: no-repeat;
}
.back2 {
     background-image:url(http://dh.longeplay.com.tw/views/dh/img/index-game-img-021.jpg); 
     background-repeat: no-repeat;
}
.back3 {
     background-image:url(http://dh.longeplay.com.tw/views/dh/img/index-game-img-031.jpg); 
     background-repeat: no-repeat;
}
