body {

	background-color: #3e342a;
	margin-left: 0px;	margin-top: 0px;	margin-right: 0px;	margin-bottom: 0px;
	font-size: 15px; font-family:"Arial,新細明體" color: #cccccc;  line-height:24px;
	background:#d9cbb0 ; }	

#right{border:0;}

img {border:0;}
table, tr, th, td, body { color:#cccccc; font-size: 15px; line-height: 24px; font-family:"Arial,新細明體" }

.form-111111{
border:0; height:23px; width:140px; margin:0px;
background:url(img/login-bg.jpg) top center no-repeat;
text-indent: 0.5em; 
color:#d9cbb0; font-size: 14px;  font-family:"Arial" }


.form-1{
border:0px solid #63574d;  height:18px; width:135px; 
background:#2e2118 ;
font-size: 14px; color:#d9cbb0;  font-family:"Arial"}


.form-2{
border:0px solid #63574d;  height:18px; width:63px; 
background:#2e2118 ;
font-size: 14px; color:#d9cbb0;  font-family:"Arial"}

