body {

	background-color: #00344e;
	margin-left: 0px;	margin-top: 0px;	margin-right: 0px;	margin-bottom: 0px;
	font-size: 16px; font-family:"Arial,新細明體" color: #cccccc;  line-height:24px;
	 }	

#right{border:0;}

img {border:0;}
table, tr, th, td, body { color:#cccccc; font-size: 16px; line-height: 24px; font-family:"Arial,新細明體" }


a:link{ color:#8dc278; text-decoration: underline; }
a:visited{ color:#8dc278; text-decoration: underline; }
a:hover{ color:#d4ea99; text-decoration: underline; }


.form-1{  border:0px solid #598993;  background-color:#598993; height:20px; margin:1px;  color:#ffffff; font-size: 14px;  font-family:"Arial"}

