@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	background: #e0d2af url(img/bgs.jpg) repeat center top;
}

#main{
	width:1000px;
	height:660px;
	margin: -330px 0 0 -500px;
	position:absolute;
	top:50%;
	left:50%;
}

#form{
	width:1000px;
	height:600px;
	position:absolute;
	z-index:20;
	display:none;
}

#flashCon{
	position:absolute;
	z-index:10;
}