body{
	background-color:black;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
    background-position: top center;
}
a {
 text-decoration: none;
 outline: none; /* for Firefox */
 outline: medium none;
 color:red;
}
a, button {
    cursor: pointer;
}

.header {
	width:1204px;
    height:1127px;
	margin:870px auto 0 auto;
	background-image: url(../img/gift.png);
	position:relative;
}
.idvform{

	width:870px;
	height:40px;
	position:absolute;
	top:290px;
	left:180px;

}
.idvform input{
	display:inline-block;
	width:500px;
	height:40px;
}
.idvform button{
	background-color:#5a4638;
	border-style: none;
	margin-left:10px;
	height:40px;
}
.idvform button:hover{
	background-color:#8b6048;

}
.notice_a{
	width:1200px;
    height:540px;
	margin:56px auto 0 auto;
	background-image: url(../img/notice.png);
}


.footer{

margin:90px auto 0 auto;
width:1201px;
height:143px;
display:block;
clear:both;

}
